

/*https://css-tricks.com/snippets/css/complete-guide-grid/*/


/*=========================
Main
==========================*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  text-align: left;
  font-family: 'Source Serif Pro', serif;
}

.container {
  display: flex;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*=========================
Aside
==========================*/
aside {
  /* how is this 50%? */
  /*width: 50%;*/
  min-width: 150px;
  max-width: 300px;
  /*background-color: pink;*/
  margin-right: 1rem;
  margin-bottom: 1rem;
}

h1 {
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  margin: .5rem 0;
}


ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

li {
}

.cv,
.contact,
.about {
  text-align: left;
  font-size: .8rem;
}

.contact {

}

/*=========================
Gallery
==========================*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}


.art-card {
  text-align: left;
  flex-grow: 1;
  width: 20%;
  padding: .75rem;
}

.art-titlecard-info {
  font-size: .8rem;
}

img {
  max-width: 100%;
  border: 1px solid #efefef;
}




/*=========================
Media Queries - small computer
==========================*/
@media (max-width: 1000px) {

  .art-card {
    width: 30%;
  }

 }


/*=========================
Media Queries - tablets
==========================*/
@media (max-width: 700px) {

  .art-card {
    /* 2 columns */
    width: 50%;
  }

 }


 /*=========================
Media Queries - phones
==========================*/
@media (max-width: 400px) {

  .container {
    flex-direction: column;
  }

  .art-card {
    /* 1 columns */
    width: 100%;
  }


 }
